html {
    background-color: black;
}

#header {
    color: crimson;
    text-align: center;
    text-decoration-style: wavy;
    margin-top: 20px;
    font-size: larger;
    padding: 5px;
} 

#contactInfo {
    position: relative;
    background-color: azure;
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 5px;
}

#contactList {
    display: inline-block;
    font-size: medium;
    padding: 5px;
}

#drumVideo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: 600px;
    margin-bottom: 20px;
}
