#contactInfo {
    text-align: center;
}

#lists {
    padding: 30px;
    background-color: cyan;
    text-align: left;
}

#bodyText {
    background-color: blanchedalmond;
    text-align: center;
}

#theBear {
    padding: 5px;
    background-color: brown;
    height: 500px;
    width: 500px;
}

#latinPart {
    font: georgia;
    font-size: larger;
}

#header {
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}
